---
import BouncingImage from "@/components/BouncingImage";
import Countdown from "../components/Countdown.astro";
import Layout from "../layouts/Layout.astro";
import { orderedEvents } from "@/data/events";

const event = orderedEvents[0];
const DEFAULT_POSITION = 50;
---

<Layout title="Cumple - 2025" description="Cumpleaños - 2025" event={event}>
  <main class="relative w-full h-screen overflow-hidden">
    <Countdown timestamp={event.timestamp} colorClass={event.colorClass} />

    {
      event.people &&
        event.people.length > 0 &&
        event.people.map((person, index) => (
          <BouncingImage
            imgSrc={`/img/faces/${person}.png`}
            leftPosition={
              DEFAULT_POSITION * (index % 2 === 0 ? index + 1 : index + 5)
            }
            topPosition={
              DEFAULT_POSITION * (index % 2 === 0 ? index + 1 : index + 5)
            }
            client:load
          />
        ))
    }
  </main>
</Layout>
