---
// import CarouselsBanner from "@/components/CarouselsBanner";
import BouncingImage from "@/components/BouncingImage";
import Countdown from "../components/Countdown.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Europa - 2025" description="Viaje a Europa en 2025">
  <main class="relative w-full h-screen overflow-hidden">
    <Countdown />
    <BouncingImage
      imgSrc="/img/faces/arturo.png"
      leftPosition={50}
      topPosition={50}
      client:load
    />
    <BouncingImage
      imgSrc="/img/faces/desiree.png"
      leftPosition={300}
      topPosition={500}
      client:load
    />
    <BouncingImage
      imgSrc="/img/faces/raquel.png"
      leftPosition={50}
      topPosition={300}
      client:load
    />
    <BouncingImage
      imgSrc="/img/faces/alberto2.png"
      leftPosition={300}
      topPosition={300}
      client:load
    />
  </main>
</Layout>
