---
import Countdown from "../components/Countdown.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crucero" description="Crucerito">
  <main>
    <Countdown />
  </main>
</Layout>
