<div
  class="fixed -z-50 h-full w-full bg-no-repeat opacity-50 blur-[2px] md:opacity-50"
>
</div>

<style>
  div {
    background: url("/public/img/bg/akron.jpg");
    background-size: cover;
  }
</style>
