<div
  class="fixed -z-50 h-full w-full bg-no-repeat opacity-50 blur-[2px] md:opacity-30"
>
</div>

<style>
  div {
    background: url("/public/img/bg/miami.webp");
    background-size: cover;
  }
</style>
