---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/caveat-brush";
import LightsBackground from "@/components/LightsBackground.astro";
import NoiseBackground from "@/components/NoiseBackground.astro";
import SEO from "@/components/SEO.astro";
import EventSelector from "@/components/EventSelector.astro";

export interface EventData {
  id: string;
  title: string;
  timestamp: number;
  description: string;
  backgroundImage: string;
  colorClass: string;
}

const {
  event = {
    title: "",
    description: "",
    id: "",
    timestamp: 0,
    backgroundImage: "",
    colorClass: "text-red-200",
  },
}: { event?: EventData } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={event.title || "Fiesta 2025"}
      description={event.description || "¡Te esperamos!"}
    />
    <ViewTransitions />
  </head>
  <body
    class="overflow-x-hidden selection:bg-primary selection:text-secondary [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
  >
    <EventSelector />

    <NoiseBackground />

    {
      event.backgroundImage && (
        <LightsBackground
          backgroundImage={event.backgroundImage || "/img/bg/akron.jpg"}
        />
      )
    }

    <slot />

    <style is:global>
      :root {
        --color-primary: #ddd;
        --color-secondary: #333;
        --color-accent: #e83f3f;
        --color-accent-rgb: 213, 255, 0;

        --background-color: #141800;
      }

      @font-face {
        font-family: "Caveat Brush", cursive;
        font-display: swap;
      }

      html {
        background: var(--background-color);
        scrollbar-gutter: stable;
      }
    </style>
  </body>
</html>
