---
import { ViewTransitions } from "astro:transitions";
import "@fontsource/caveat-brush";
import LightsBackground from "@/components/LightsBackground.astro";
import NoiseBackground from "@/components/NoiseBackground.astro";
import SEO from "@/components/SEO.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO description={description} title={title} />
    <ViewTransitions />
  </head>
  <body
    class="overflow-x-hidden selection:bg-primary selection:text-secondary [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
  >
    <NoiseBackground />

    <LightsBackground />

    <slot />
    <style is:global>
      :root {
        --color-primary: #ddd;
        --color-secondary: #333;
        --color-accent: #e83f3f;
        --color-accent-rgb: 213, 255, 0;

        --background-color: #141800;
      }
      @font-face {
        font-family: "Caveat Brush", cursive;
        font-display: swap;
      }
      html {
        background: var(--background-color);
        scrollbar-gutter: stable;
      }
    </style>
  </body>
</html>
